<div class="row">
  <div class="col-md-12">
    <h2 class="text-center fs-2">Profile</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center">
    <% if customer.profile_image.attached? %>
      <%= image_tag customer.profile_image, style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
    <% else %>
      <%= image_tag 'no_image.jpg', style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
    <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-2">Name</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-1"><%= customer.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-2">Introduction</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-1"><%= customer.introduction %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center"><%= link_to "View More Posts", customer_path(customer), class: "fs-2" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-1">
      <%= link_to customer_followings_path(customer) do %>
        Followings: <%= customer.followings.count %>
      <% end %>
      /
      <%= link_to customer_followers_path(customer) do %>
        Followers: <%= customer.followers.count %>
      <% end %>
    </p>
  </div>
</div>
<% unless customer == current_customer %>
<div class="row">
  <div class="col-md-12">
    <% if current_customer.following?(customer) %>
      <div class="col-md-2 offset-md-4"><%= link_to 'Unfollow', customer_relationships_path(customer.id), method: :delete, class: "edit_btn" %></div>
    <% else %>
      <div class="col-md-2 offset-md-4"><%= link_to "Follow", customer_relationships_path(customer.id), method: :post, class: "edit_btn" %></div>
    <% end %>
  </div>
</div>
<% end %>
<% if customer == current_customer %>
<div class="row">
  <div class="col-md-12 mt-2 mb-4">
    <h2 class="text-center mb-2"><%= link_to 'Followings_Posts', follow_posts_customer_path,class: "fs-2" %></h2>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-12 mt-2 mb-4">
    <h2 class="text-center mb-2"><%= link_to 'Favorites_Posts', favorites_customer_path(customer),class: "fs-2" %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if customer == current_customer %>
      <div class="col-md-1 offset-md-4 text-center"><%= link_to 'Edit', edit_customer_path(customer), class: "edit_btn" %></div>
    <% end %>
  </div>
</div>
