<div class="container-fluid">
  <div class="row">
    <div class="col offset-5 mt-3">
      <h2>ユーザー情報編集</h2>
      <%= form_with model: @customer, url: customer_path(@customer), method: :patch do |f| %>
      <div class="row">
        <div class="col-2 mt-3">
          <p><%= f.label :name, 'ユーザー名' %></p>
        </div>
        <div class="col-2 mt-3">
          <p><%= f.text_field :name %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3">
          <p><%= f.label :introduction, '自己紹介' %></p>
        </div>
        <div class="col-2 mt-3">
          <p><%= f.text_area :introduction %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3">
          <p><%= f.label :profile_image, '画像選択' %></p>
        </div>
        <div class="col-2 mt-3 mb-5">
          <p><%= f.file_field :profile_image, accept: "image/*" %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 offset-2 mt-5">
          <p><%= f.submit '編集を保存する' %></p>
        </div>
      </div>
      <% end %>
      <h2>退会を希望される方</h2>
      <div class="mb-5">
        <span><%= link_to "こちら", unsubscribe_path %></span>
        から退会手続きを行ってください。
      </div>
    </div>
  </div>
</div>