<h1>顧客一覧</h1>

<h1>ユーザー検索フォーム</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :name, "Keyword" %>
  <%= f.search_field :name_cont %>
  <%= f.submit "検索" %>
<% end %>

<% @customers.each do |customer| %>
<table>
  <tr>
    <td>ユーザー名</td>
    <td>投稿数</td>
  </tr>
  <tr>
    <td><%= link_to customer.name, customer_path(customer) %></td>
    <td><%= customer.posts.count %></td>
  </tr>
</table>
<% end %>