

<h1><%= @customer.name %>さんの投稿一覧</h1>
<% @posts.each do |post| %>
<table>
  <tr>
    <td>投稿名</td>
    <td><%= link_to post.title, post_path(post) %></td>
  </tr>
  <tr>
    <td>いいね数</td>
    <td>
    <div id = "favorite_<%= post.id %>">
      <%= render partial: "public/favorites/favorite", locals: {post: post} %>
    </div>
    </td>
  </tr>
</table>
<% end %>

<div>
  <p><%= link_to @customer.name, favorites_customer_path(@customer) %>さんのいいね一覧 %></p>
</div>