<div class="container">
  <div class="row mt-2">
    <div class="col-md-4 offset-md-1 mt-3">
      <div class="subtitle fs-4">Group</div>
      <h2 class="text-center mb-3 fs-2"><%= @group.name %></h2>
      <div class="subtitle fs-4">Introduction</div>
      <h2 class="text-center mb-3 fs-2"><%= @group.introduction %></h2>
    </div>
    <div class="col-md-5 offset-md-1">
      <%= image_tag @group.group_image.variant(resize: "350").processed %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
    <h2 class="text-center fs-2">About Group</h2>
    </div>
  </div>
  <% if @group.owner_id == current_customer.id %>
    <div class="row mt-3">
      <div class="col-md-1 offset-md-4 col-sm-5 text-center">
        <%= link_to 'Edit', edit_group_path(@group), class: 'edit_btn' %>
      </div>
    </div>
  <% elsif @group.customers.include?(current_customer) %>
    <div class="row mt-3">
      <div class="col-md-1 offset-md-4 col-sm-5 text-center">
        <%= link_to 'Leave this group', group_path(@group), method: :delete, class: "edit_btn" %>
      </div>
    </div>
  <% else %>
    <div class="row mt-3">
      <div class="col-md-1 offset-md-4 col-sm-5 text-center">
        <%= link_to 'Join this group', group_join_path(@group), class: "edit_btn" %>
      </div>
    </div>
  <% end %>
</div>