<% posts.each do |post| %>
  <div class="blog-box">
    <div class="blog-item">
      <div class="card text-light">
        <%= image_tag post.images[0], size: "150x150" %>
        <div class="card-img-overlay">
          <h5 class="favorite_title">
            <% if customer_signed_in? %>
            <span id = "favorite_<%= post.id %>">
              <%= render partial: "public/favorites/favorite", locals: {post: post} %>
            </span>
            <% end %>
          </h5>
        </div>
      </div>
      <section class="blog-text">
        <h3 class="blog-text-heading">
          <a><%= link_to truncate(post.title, omision: "...", length: 4), post_path(post.id) %></a>
          
        </h3>
        <% post.tags.limit(1).each do |tag| %>
        <div class="actions mb-3">
          <%= link_to truncate(tag.name, omision: "...", length: 5), search_tag_path(tag_id: tag.id), class: 'btn btn-primary btn-sm' %>
        </div>
        <% end %>
        <p class="blog-date"><%= post.created_at.strftime('%Y/%m/%d') %></p>
        </section>
    </div>
  </div>
<% end %>