<h1>新規投稿</h1>

<%= form_with model: @post, url: posts_path, method: :post,local:true do |f| %>
  <div>
    <p>タイトル</p>
    <p><%= f.text_field :title %></p>
  </div>
  <div>
    <p>タグ</p>
    <p><%= f.text_field :name %></p>
  </div>
  <div>
    <p>説明</p>
    <p><%= f.text_area :introduction %></p>
  </div>
  <div>
    <p>画像選択</p>
    <p><%= f.file_field :images, multiple: true, accept: "image/*" %></p>
  </div>
  <div id="new-image"></div>
  <div id="star">
    <%= f.label :rate, '満足度' %>
    <%= f.hidden_field :rate %>
  </div>
      
  <div id="rate_<%= @post.id %>"></div>
    <script>
      let raty_elem = document.querySelector('#rate_<%= @post.id %>');
      raty_elem.innerHTML = ""
      let option = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: '[rate]',
       };
      raty(raty_elem,option);
      </script>
  <%= f.submit '投稿する' %>
<% end %>