<div class="container-fluid">
  <div class="row">
    <div>
      <%= render 'public/customers/error', obj: @post %>
    </div>
    <div class="col-7 offset-3 mt-3">
      <h2>新規投稿</h2>
      <%= form_with model: @post, url: posts_path, method: :post,local:true do |f| %>
      <div class="row">
        <div class="col-md-8 col-sm-12 mt-3">
          <p><%= f.label :title, 'タイトル' %></p>
        </div>
        <div class="col-md-1 col-sm-12 mt-3">
          <p><%= f.text_field :title %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12 mt-3">
          <p><%= f.label :name, 'タグ(,で区切ると複数のタグを登録できます)' %></p>
        </div>
        <div class="col-md-1 col-sm-12 mt-3">
          <p><%= f.text_field :name, value: @tag %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12 mt-3">
          <p><%= f.label :introduction, '説明' %></p>
        </div>
        <div class="col-md-1 col-sm-12 mt-3">
          <p><%= f.text_area :introduction %></p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-sm-12 mt-3">
          <p><%= f.label :images, '画像選択' %></p>
        </div>
        <div class="col-md-1 col-sm-12 mt-3">
          <p><%= f.file_field :images, multiple: true %></p>
        </div>
        <div id="new-image"></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12 mt-3">
          <div id="star">
            <%= f.label :rate, '満足度' %>
            <%= f.hidden_field :rate %>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-3">
          <div id="rate_<%= @post.id %>"></div>
            <script>
              let raty_elem = document.querySelector('#rate_<%= @post.id %>');
              raty_elem.innerHTML = ""
              let option = {  
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: '[rate]',
              };
              raty(raty_elem,option);
            </script>
          </div>
        </div>
      <div class="row">
        <div class="col-md-4 offset-md-8 mt-3">
          <p><%= f.submit '投稿する' %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>