<div class="container">
  <div class="row">
    <div class="col-2 mt-2">
      <%= render 'public/customers/customer_info', customer: current_customer %>
    </div>
    <div class="col-10 mt-2">
      <h2 class="text-center mb-2">タグ一覧</h2>
        <% @tags.each do |tag| %>
          <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
          <%= "(#{tag.posts.count})" %>
        <% end %>
      <h2 class="text-center mb-2"><%= @tag.name %>の投稿一覧</h2>
      <div class="d-flex flex-wrap">
        <% @posts.each do |post| %>
          <div class="blog-box">
            <div class="blog-item">
              <%= image_tag post.images[0], size: "150x150" %>
              <section class="blog-text">
                <h3 class="blog-text-heading">
                  <a><%= link_to post.title, post_path(post.id) %></a>
                </h3>
                <% post.tags.each do |tag| %>
                <div class="actions mb-3">
                  <%= link_to tag.name, search_tag_path(tag_id: tag.id), class: 'btn btn-primary btn-sm' %>
                </div>
                <% end %>
                <p class="blog-date"><%= post.created_at.strftime('%Y/%m/%d') %></p>
                <span class="category" id = "favorite_<%= post.id %>">
                  <%= render partial: "public/favorites/favorite", locals: {post: post} %>
                </span>
              </section>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>