<div class="container">
  <div class="row">
    <div class="col-2 mt-2">
      <%= render 'public/customers/customer_info', customer: @customer %>
    </div>
    <div class="col-9 offset-1 mt-2">
      <h2 class="text-center mb-2"><%= @post.title %></h2>
      <div class="sliderWrapper mt-2">
	      <div class="slider">
          <% @post.images.each do |image| %>
            <div><%= image_tag image, size: "1000x600" %></div>
          <% end %>
	      </div>
      </div>
      <div class="row mt-2">
        <div class="col-3">
          <div id="rate_<%= @post.id %>"></div>
          <script>
            let elem = document.querySelector('#rate_<%= @post.id %>');
            let opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: "<%= @post.rate %>",
              readOnly: true,
             };
            raty(elem,opt);
          </script>
        </div>
        <div class="col-2 offset-7">
          <div id = "favorite_<%= @post.id %>">
            <%= render partial: "public/favorites/favorite", locals: {post: @post} %>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <p class="text-box"><%= @post.introduction %></p>
        <p>
          タグ:
          <% @tag.each do |tag| %>
            <%= link_to tag.name, search_tag_path(tag_id: tag.id), class: 'btn btn-primary btn-sm' %>
          <% end %>
        </p>
      </div>
      <% if @customer == current_customer %>
      <div class="mt-2">
        <p><%= link_to '編集する', edit_post_path, class: 'btn btn-warning btn-sm btn-block mb-3' %></p>
        <p><%= link_to "記事を削除する", post_path(@post), method: :delete,class: "btn btn-danger btn-sm btn-block mb-3" %></p>
      </div>
      <% end %>
      <div class="mt-5">
        <div>
          <p>コメント件数: <%= @post_comments.count %></p>
          <div>
            <%= form_with model: [@post, @post_comment], url: post_post_comments_path(post_id: @post.id), method: :post do |f| %>
              <p><%= f.text_area :message, rows: '3', cols: 110, placeholder: "コメントをここに" %></p>
              <p><%= f.submit "送信する" %></p>
            <% end %>
          </div>
          <% @post_comments.each do |comment| %>
            <div class="mt-2">
              <p><%= comment.customer.name %>: </p>
              <p><%= comment.message %></p>
              <div class="row">
                <div class="col">
                  <%= comment.created_at.strftime('%Y/%m/%d') %>
                </div>
                <div class="pull-right">
                  <% if comment.customer == current_customer %>
                    <p><%= link_to "削除する", post_post_comment_path(comment.post, comment), method: :delete,class: "btn btn-danger" %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt-5">
      <h2 class="text-center"><%= @customer.name %>さんの他の投稿</h2>
        <div class="d-flex justify-content-around">
          <%= render 'public/posts/index_form', posts: @posts %>
        </div>
        <div class="text-center">
          <p class="link_tag">
            <%= link_to 'すべて見る', customer_path(@customer), class: 'btn btn-dark btn-sm btn-block mb-3' %>
          </p>
        </div>
    </div>
  </div>
</div>