<div class="container">
  <div class="row">
    <div class="mt-5">
      <div class="card text-light">
        <%= image_tag 'default.jpg', size:"750x500" %>
          <div class="card-img-overlay">
            <h5 class="card-title">
            <p class="text-center">
            ようこそ、ながのCAKEへ!</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
            </p>
            </h5>
          </div>
      </div>
    </div>

  
    <div class="mt-5">
      <h2 class="text-center">新着投稿</h2>
        <div class="d-flex justify-content-around">
          <% @post_news.each do |post| %>
          <div class="blog-box">
            <div class="blog-item">
              <%= image_tag post.images[0], size: "150x150" %>
              <section class="blog-text">
              <h3 class="blog-text-heading">
                <a><%= link_to post.title, post_path(post.id) %></a>
              </h3>
              <% post.tags.each do |tag| %>
              <div class="actions mb-3">
                <%= link_to tag.name, search_tag_path(tag_id: tag.id), class: 'btn btn-primary btn-sm' %>
              </div>
              <% end %>
              <p class="blog-date"><%= post.created_at.strftime('%Y/%m/%d') %></p>
              <span class="category" id = "favorite_<%= post.id %>">
                <%= render partial: "public/favorites/favorite", locals: {post: post} %>
              </span>
              </section>
            </div>
          </div>
          <% end %>
        </div>
    </div>
    <div class="mt-5">
      <h2 class="text-center">人気の投稿</h2>
        <div class="d-flex justify-content-around">
          <% @post_favorite_ranks.each do |post| %>
          <div class="blog-box">
            <div class="blog-item">
              <%= image_tag post.images[0], size: "150x150" %>
              <section class="blog-text">
              <h3 class="blog-text-heading">
                <a><%= link_to post.title, post_path(post.id) %></a>
              </h3>
              <% post.tags.each do |tag| %>
              <div class="actions mb-3">
                <%= link_to tag.name, search_tag_path(tag_id: tag.id), class: 'btn btn-primary btn-sm' %>
              </div>
              <% end %>
              <p class="blog-date"><%= post.created_at.strftime('%Y/%m/%d') %></p>
              <span class="category" id = "favorite_<%= post.id %>">
                <%= render partial: "public/favorites/favorite", locals: {post: post} %>
              </span>
              </section>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
  
</div>