<div class="container">
  
  <div class="row">
    <div class="col-6 offset-3 mt-5">
      <div class="card text-light">
        <%= image_tag 'default.jpg', size:"750x500" %>
          <div class="card-img-overlay">
            <h5 class="card-title">
            <p class="text-center">
            ようこそ、ながのCAKEへ!</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
            </p>
            </h5>
          </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6 offset-3 mt-5">
      <h2 class="text-center">新着投稿</h2>
        <div class="d-flex justify-content-around">
          <% @post_news.each do |post| %>
          <div class="m-3">
            <p class="text-center"><%= image_tag post.images[0], size: "200x200" %></p>
            <p class="text-center"><%= link_to post.title, post_path(post.id) %></p>
            <p class="text-center"><%= post.customer.name %></p>
          </div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-3 mt-5">
      <h2 class="text-center">人気の投稿</h2>
        <div class="d-flex justify-content-around">
          <% @post_favorite_ranks.each do |post| %>
          <div class="m-3">
            <p class="text-center"><%= image_tag post.images[0], size: "200x200" %></p>
            <p class="text-center"><%= link_to post.title, post_path(post.id) %></p>
            <p class="text-center"><%= post.customer.name %></p>
          </div>
          <% end %>
        </div>
    </div>
  </div>
  
</div>

<main>
      <section class="blog">
        <h2 class="blog-heading">Recent Blogs</h2>
        <div class="blog-box">
          <div class="blog-item">
            <%= image_tag 'default.jpg', size:"150x150" %>
            <section class="blog-text">
              <h3 class="blog-text-heading">
                <a href="single.html">
                  Hopeful lessons from<br>
                  the battle to save<br>
                  rainforests
                </a>
              </h3>
              <p class="blog-date">June 19, 2017</p>
              <span class="category">Nature</span>
            </section>
          </div>
        </div>
      </section>
</main>