<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Profile</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center">
    <% if customer.profile_image.attached? %>
      <%= image_tag customer.profile_image, size: "150x150" %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "150x150" %>
    <% end %>
    </p>
  </div>
</div>  
<div class="row">
  <div class="col-md-12">
    <p class="text-center"><%= customer.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center">Introduction</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center"><%= customer.introduction %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center"><%= link_to "view more posts", admin_customer_path(customer), class: "fs-2" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-1">
      <% if customer.is_deleted == false %>
        有効
      <% else %>
        退会済
      <% end %>
    <p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-1 offset-md-5  text-center"><%= link_to 'edit', edit_admin_customer_path(customer), class: "edit_btn" %></div>
  </div>
</div>

  