<div class="row">
  <div class="col-md-12">
    <h2 class="text-center fs-2">Profile</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center">
    <% if customer.profile_image.attached? %>
      <%= image_tag customer.profile_image, style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
    <% else %>
      <%= image_tag 'no_image.jpg', style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
    <% end %>
    </p>
  </div>
</div>  
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-2">Name</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-1"><%= customer.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-2">Introduction</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-1"><%= customer.introduction %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-2">Status</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center fs-1">
      <% if customer.is_deleted == false %>
        有効
      <% else %>
        退会済
      <% end %>
    <p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center"><%= link_to "view more posts", admin_customer_path(customer), class: "fs-2" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-1 offset-md-5  text-center"><%= link_to 'edit', edit_admin_customer_path(customer), class: "edit_btn" %></div>
  </div>
</div>

  