<div class="sliderWrapper">
  <div class="slider">
	<div class="slide-item">
	  <div class="card bg-white text-white">
        <div class="position-relative">
        <%= link_to root_path do %>
          <%= image_tag 'top.jpg', width: '100%', height: 'auto' %>
          <p class="top_background">
            Welcome to プラモ for Beginners!
          </p>
        <% end %>
        </div>
      </div>
	</div>
    <div class="slide-item">
	  <div class="card bg-white text-white">
        <div class="position-relative">
        <%= link_to new_post_path do %>
          <%= image_tag 'new.jpg', width: '100%', height: 'auto' %>
          <p class="new_background">New Posts!</p>
        <% end %>
        </div>
      </div>
	</div>
	<div class="slide-item">
	  <div class="card bg-white text-white">
        <div class="position-relative">
        <%= link_to posts_path do %>
          <%= image_tag 'posts.jpg', width: '100%', height: 'auto' %>
          <p class="new_background">Many Posts!</p>
        <% end %>
        </div>
      </div>
	</div>
  </div>
</div>