<h1>タグ一覧・追加</h1>
<%= form_with model:@tag, url: admin_tags_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit '登録する' %>
<% end %>

<% @tags.each do |tag| %>
  <%= tag.name %>
<% end %>