<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h1 class="navbar-brand fs-2">プラモ for Beginners!</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="mr-3"><%= link_to "HOME", root_path, class: 'nav-link text-light fs-1' %></li>
            <li class="mr-3"><%= link_to "MYPAGE", customer_path(current_customer), class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "NEW", new_post_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "POSTS", posts_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "USERS", customers_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "LOG_OUT", destroy_customer_session_path, method: :delete, class: 'nav-link text-light fs-1' %></ %></li>
          <% elsif admin_signed_in? %>
            <li class="mr-3"><%= link_to "HOME", admin_root_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "POSTS", admin_posts_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "USERS", admin_customers_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "SIGN_out", destroy_admin_session_path, method: :delete, class: 'nav-link text-light fs-1' %></ %></li>
          <% else %>
            <li class="mr-3"><%= link_to "HOME", root_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "ABOUT", about_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "SIGN_UP", new_customer_registration_path, class: 'nav-link text-light fs-1' %></ %></li>
            <li class="mr-3"><%= link_to "SIGN_IN", new_customer_session_path, class: 'nav-link text-light fs-1' %></ %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>